*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    transition: .4s all;
}

:root{
    --primary-color: #4691F2;
    --primary-subtle: rgba(70, 144, 242, 0.1);
    --black: #000;
    --white: #fff;
    --dark: #1A1313;
    --dark-gray: #6C6C6C;
    --gray: #808080;
    --body-color: #6C6C6C;
    --card-title-color: #1E1E1E;
    --body-bg: #fff;

    /* font families */
    --default-font: "Mulish", sans-serif;
    --heading-font: "Faustina", sans-serif;
    --fancy-font: "Great Vibes", cursive;

    --line-height: 1.625;
    --heading-line-height: 1.125;

    /* Spacing */
    --section-padding: 6.25rem;

    /* Container */
    --container-width: 1140px;

    /* Button */
    --btn-padding-x: 1.625rem;
    --btn-padding-y: .875rem;
    --btn-border-radius: 1.875rem;

    /* navbar */
    --nav-link-color: #6C6C6C;
    --nav-link-hover-color: var(--primary-color);
    --nav-link-active-color: var(--primary-color);
    --nav-link-font-size: 1.125rem;
    --nav-link-font-weight: 700;

    /* Border-radius */

    --border-radius: 1.25rem;
    --border-radius-sm: .5rem;
    --border-radius-lg: 2rem;

}

body{
    font-family: var(--default-font, sans-serif);
    color: var(--body-color, #2f3039);
    background: var(--body-bg, #fff);
}

html, body{    
    scroll-behavior: smooth;
}

/* Display */
/* flex */
.d-flex{
    display: flex;
}
.flex-center{
    display: flex;
    justify-content: center;
    align-items: center;
}
.justify-center{
    justify-content: center;
}
.align-center{
    align-items: center;
}
.justify-between{
    justify-content: space-between;
}
/* flex */

.d-grid{
    display: grid;
}
.grid-center{
    place-content: center;
}

/* Gap */
.gx-1{
    column-gap: .25rem;
}
.gx-2{
    column-gap: .625rem;
}
.gx-3{
    column-gap: 1rem;
}
.gx-4{
    column-gap: 1.5rem;
}
.gx-5{
    column-gap: 3rem;
}
.gy-1{
    row-gap: .25rem;
}
.gy-2{
    row-gap: .625rem;
}
.gy-3{
    row-gap: 1rem;
}
.gy-4{
    row-gap: 1.5rem;
}
.gy-5{
    row-gap: 3rem;
}


/* Typography */
h1, .h1{
    font-size: 3.625;
    line-height: var(--heading-line-height);
    color: var(--dark);
    font-family: var(--heading-font);
}
h2, .h2{
    font-size: 2.75rem;
    line-height: var(--heading-line-height);
    color: var(--dark);
    font-family: var(--heading-font);
}
h3, .h3{
    font-size: 2.25rem;
    line-height: var(--heading-line-height);
    color: var(--dark);
    font-family: var(--heading-font);
}

h4, .h4{
    font-size: 1.375rem;
    line-height: 1.4;
    color: var(--dark);
    font-family: var(--heading-font);
}

p{
    font-size: 1rem;
}


a{
    color: inherit;
    text-decoration: none;
}


/* Backgrounds & Color */

.bg-primary{
    background-color: var(--primary-color);
    color: var(--white);
}
.bg-primary-subtle{
    background: var(--primary-subtle)
}
.bg-gradient-1{
    background: linear-gradient(var(--primary-subtle) 40%, transparent)
}
.bg-black{
    background-color: var(--black);
    color: var(--white);
}
.bg-dark{
    background-color: var(--dark);
    color: var(--white);
}

.text-primary{
    color: var(--primary-color);
}
.text-white{
    color: var(--white);
}
.text-dark{
    color: var(--dark);
}


/* Images */
img{
    max-width: 100%;
    height: auto;
}
.object-fit-cover{
    object-fit: cover;
}
.object-fit-contain{
    object-fit: contain;
}


/* Sizes */
.w-100{
    width: 100%;
}
.h-100{
    height: 100%;
}
.vh-100{
    height: 100vh
}


/* Buttons */
button,.btn{
    cursor: pointer;
}
.btn{
    --font-size: 1rem;
    --border-radius: var(--btn-border-radius, .25rem);
    --btn-color: var(--body-color, #333339);
    --btn-bg: #e5e5e5;
    --border-width: 1px;
    --border-style: solid;
    --border-color: transparent;
    padding: var(--btn-padding-y, .25rem) var(--btn-padding-x, .75rem);
    font-size: var(--font-size);
    color: var(--btn-color);
    background-color: var(--btn-bg);
    border: var(--border-width) var(--border-style) var(--border-color);
    border-radius: var(--border-radius);
}
.btn:hover{
    --btn-bg: #c2c1c1;
}
.btn:focus{
    --border-color: var(--black);
}
.btn-primary{
    --btn-color: var(--white, #333339);
    --btn-bg: var(--primary-color);
    --border-color: var(--primary-color);
}
.btn-primary:hover, .btn-primary:focus{
    --btn-color: var(--white, #333339);
    --btn-bg: var(--primary-color);
    --border-color: var(--primary-color);
}
.btn-white{
    --btn-color: var(--primary-color, #333339);
    --btn-bg: var(--white);
    --border-color: var(--white);
}
.btn-white:hover, .btn-white:focus{
    --btn-color: var(--white, #333339);
    --btn-bg: var(--primary-color);
    --border-color: var(--primary-color);
}

.btn-outline-primary{
    --border-color: var(--primary-color);
    --btn-color: var(--primary-color);
    --btn-bg: transparent;
    --border-width: 2px
}
.btn-outline-primary:hover{
    --border-color: var(--primary-color);
    --btn-color: var(--white);
    --btn-bg: var(--primary-color);
}

.btn-circle{
    --btn-padding-y: 0;
    --btn-padding-x: 0;
    --btn-size: 3.125rem;
    display: grid;
    place-items: center;   
    width: var(--btn-size);
    height: var(--btn-size);
    --border-radius: 50%;
}
.btn-circle-sm{
    --btn-size: 2rem;
}

/* Positions */
.position-relative{
    position: relative;
}
.position-absolute{
    position: absolute;
}

/* Container */
.container{
    max-width: var(--container-width);
    margin-inline: auto;
    padding-inline: 15px;
}

/* List */

.list-unstyled{
    list-style: none;
    padding-left: 0
}


/* Sections */
section{
    padding-block: var(--section-padding);
}
.subtitle{
    font-family: var(--fancy-font);
    font-size: 1.5rem;
    color: var(--primary-color);
    font-weight: 400;
}
.section-heading{
    margin-bottom: 3.75rem;
}

/*================== Header Section ============================*/
/*------------ Header top ------------------*/
.top-header_top{
    background-image: linear-gradient(-45deg, var(--black)50%, var(--primary-color) 50%);
    color: var(--white);
    padding-block: .625rem;
}
.top-header_top .social_links::before{
    content: '';
    position: absolute;
    left: calc((1.5rem / 2) * -1);
    top: 50%;
    height: 80%;
    width: 2px;
    translate: -50% -50%;
    background: var(--white)
}
/*------------ Header top end ------------------*/

/*------------ Navbar ---------------*/
.navbar{padding-block: 1.5rem}
.menubar{gap: 1.875rem}
.nav-link{
    color: var(--nav-link-color);
    font-size: var(--nav-link-font-size);
    font-weight: var(--nav-link-font-weight);
}
.nav-link:hover{
    color: var(--nav-link-hover-color);
}
.nav-link.active{
    color: var(--nav-link-active-color);
}
.menubar-toggler{
    display: none;
}
/*------------ Navbar End ---------------*/

@media (max-width: 991.98px){
    .header_top_right .social_links{
        display: none;
    }
    .top-header_top{
        padding-block: .25rem;
    }
    .header_top_left a:first-child{display: none;}
    .menubar-toggler{
        display: block;
    }
    .navbar{padding-block: 10px}
    .navbar .container{
        position: relative;
    }
    .navbar_right{
        position: absolute;
        top: 100%;
        right: 0;
        width: 80%;
        background: var(--white);
        padding: 1rem;
        border-radius: var(--border-radius);
        box-shadow: -4px 8px 10px rgba(0,0,0,.15);
        flex-direction: column;
        align-items: stretch;
        row-gap: 1.5rem;
        display: none;
    }
    .menubar{
        flex-direction: column;
        gap: 1rem;
        align-items: stretch;
    }
    .navbar_right .btn{
        align-self: flex-start;
    }
}





/* ======================= Footer ============================= */

/* Newsletter */
.newsletter{padding-block: 0; background-image: linear-gradient(var(--white) 50%, var(--primary-subtle) 50%)}
.newsletter_content{
    padding: 2.5rem;
    border-radius: var(--border-radius);
}
.newsletter_content h2{font-weight: 600; max-width: 335px; letter-spacing: .1rem;}

.newsletter_content form{
    width: 55%;
    gap: 1.25rem;
}
input{
    padding: var(--btn-padding-y) var(--btn-padding-x);
    border-radius: var(--border-radius-lg);
    border-color: var(--white);
    background: var(--white);
    color: var(--primary-color)
}
input::placeholder{
    color: var(--primary-color);
}

.newsletter_content form input:not([type="submit"]){
    flex-grow: 1;
}