*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    transition: .4s all;
}

:root{
    --primary-color: #4691F2;
    --primary-subtle: rgba(70, 144, 242, 0.1);
    --primary-light: rgba(70, 144, 242, 0.3);
    --black: #000;
    --white: #fff;
    --dark: #1A1313;
    --dark-gray: #6C6C6C;
    --gray: #808080;
    --body-color: #6C6C6C;
    --card-title-color: #1E1E1E;
    --body-bg: #fff;

    /* font families */
    --default-font: "Mulish", sans-serif;
    --heading-font: "Faustina", sans-serif;
    --fancy-font: "Great Vibes", cursive;

    --line-height: 1.625;
    --heading-line-height: 1.125;

    /* Spacing */
    --section-padding: 6.25rem;

    /* Container */
    --container-width: 1140px;

    /* Button */
    --btn-padding-x: 1.625rem;
    --btn-padding-y: .875rem;
    --btn-border-radius: 1.875rem;

    /* navbar */
    --nav-link-color: #6C6C6C;
    --nav-link-hover-color: var(--primary-color);
    --nav-link-active-color: var(--primary-color);
    --nav-link-font-size: 1.125rem;
    --nav-link-font-weight: 700;

    /* Border-radius */

    --border-radius: 1.25rem;
    --border-radius-sm: .5rem;
    --border-radius-lg: 2rem;

}

@media (max-width: 991.98px){
    :root{        
        --section-padding: 3.75rem;
    }
}
@media (max-width: 575px){
    :root{        
        --section-padding: 2.75rem;
    }
}

body{
    font-family: var(--default-font, sans-serif);
    color: var(--body-color, #2f3039);
    background: var(--body-bg, #fff);
    line-height: 1.625;
    max-width: 100vw;
    overflow-x: clip;
    font-weight: 600;
}

html, body{    
    scroll-behavior: smooth;
}

/* Display */
/* flex */
.d-flex{
    display: flex;
}
.flex-column{
    flex-direction: column;
}
.flex-center{
    display: flex;
    justify-content: center;
    align-items: center;
}
.justify-center{
    justify-content: center;
}
.align-center{
    align-items: center;
}
.justify-between{
    justify-content: space-between;
}
/* flex */

.d-grid{
    display: grid;
}
.grid-center{
    place-content: center;
}

/* Gap */
.gx-1{
    column-gap: .25rem;
}
.gx-2{
    column-gap: .625rem;
}
.gx-3{
    column-gap: 1rem;
}
.gx-4{
    column-gap: 1.5rem;
}
.gx-5{
    column-gap: 3rem;
}
.gy-1{
    row-gap: .25rem;
}
.gy-2{
    row-gap: .625rem;
}
.gy-3{
    row-gap: 1rem;
}
.gy-4{
    row-gap: 1.5rem;
}
.gy-5{
    row-gap: 3rem;
}


/* Typography */
h1, .h1{
    font-size: 3.625rem;
    line-height: var(--heading-line-height);
    color: var(--dark);
    font-family: var(--heading-font);
}
h2, .h2{
    font-size: 2.75rem;
    line-height: var(--heading-line-height);
    color: var(--dark);
    font-family: var(--heading-font);
}
h3, .h3{
    font-size: 2.25rem;
    line-height: var(--heading-line-height);
    color: var(--dark);
    font-family: var(--heading-font);
}

h4, .h4{
    font-size: 1.375rem;
    line-height: 1.4;
    color: var(--dark);
    font-family: var(--heading-font);
}
h5, .h5{
    font-size: 1.125rem;
    line-height: 1.4;
    color: var(--dark);
    font-family: var(--heading-font);
    font-weight: 600;
}

p{
    font-size: 1rem;
}
p:not(:last-child){margin-bottom: .5rem;}


a{
    color: inherit;
    text-decoration: none;
}

.text-center{
    text-align: center
}


@media (max-width: 1200px){
    h1, .h1{
        font-size: 2.75rem;
    }
    h2, .h2{
        font-size: 2rem;
    }
    h3, .h3{
        font-size: 1.75rem;
    }
}


/* Backgrounds & Color */

.bg-primary{
    background-color: var(--primary-color);
    color: var(--white);
}
.bg-primary-subtle{
    background: var(--primary-subtle)
}
.bg-gradient-1{
    background: linear-gradient(var(--primary-subtle) 40%, transparent)
}
.bg-black{
    background-color: var(--black);
    color: var(--white);
}
.bg-dark{
    background-color: var(--dark);
    color: var(--white);
}

.text-primary{
    color: var(--primary-color);
}
.text-white{
    color: var(--white);
}
.text-dark{
    color: var(--dark);
}


/* Images */
img{
    max-width: 100%;
    height: auto;
}
.object-fit-cover{
    object-fit: cover;
}
.object-fit-contain{
    object-fit: contain;
}


/* Sizes */
.w-100{
    width: 100%;
}
.h-100{
    height: 100%;
}
.vh-100{
    height: 100vh
}


/* Buttons */
button,.btn{
    cursor: pointer;
}
.btn{
    --font-size: 1rem;
    --border-radius: var(--btn-border-radius, .25rem);
    --btn-color: var(--body-color, #333339);
    --btn-bg: #e5e5e5;
    --border-width: 1px;
    --border-style: solid;
    --border-color: transparent;
    padding: var(--btn-padding-y, .25rem) var(--btn-padding-x, .75rem);
    font-size: var(--font-size);
    color: var(--btn-color);
    background-color: var(--btn-bg);
    border: var(--border-width) var(--border-style) var(--border-color);
    border-radius: var(--border-radius);
    display: inline-block;
}
.btn i{
    margin-left: .425rem  
}

.btn:hover{
    --btn-bg: #c2c1c1;
}
.btn:focus{
    --border-color: var(--black);
}
.btn-primary{
    --btn-color: var(--white, #333339);
    --btn-bg: var(--primary-color);
    --border-color: var(--primary-color);
}
.btn-primary:hover, .btn-primary:focus{
    --btn-color: var(--white, #333339);
    --btn-bg: var(--primary-color);
    --border-color: var(--primary-color);
}
.btn-white{
    --btn-color: var(--primary-color, #333339);
    --btn-bg: var(--white);
    --border-color: var(--white);
}
.btn-white:hover, .btn-white:focus{
    --btn-color: var(--white, #333339);
    --btn-bg: var(--primary-color);
    --border-color: var(--primary-color);
}

.btn-outline-primary{
    --border-color: var(--primary-color);
    --btn-color: var(--primary-color);
    --btn-bg: transparent;
    --border-width: 2px
}
.btn-outline-primary:hover{
    --border-color: var(--primary-color);
    --btn-color: var(--white);
    --btn-bg: var(--primary-color);
}

.btn-circle{
    --btn-padding-y: 0;
    --btn-padding-x: 0;
    --btn-size: 3.125rem;
    display: grid;
    place-items: center;   
    width: var(--btn-size);
    height: var(--btn-size);
    --border-radius: 50%;
    flex-shrink: 0
}
.btn-circle i{margin-inline: auto}
.btn-circle-sm{
    --btn-size: 2rem;
}

/* Positions */
.position-relative{
    position: relative;
}
.position-absolute{
    position: absolute;
}

/* Container */
.container{
    max-width: var(--container-width);
    margin-inline: auto;
    padding-inline: 15px;
}

.container-max{
    max-width: calc(var(--container-width) + ((100% - var(--container-width)) / 2));
}

/* List */

.list-unstyled{
    list-style: none;
    padding-left: 0
}

.custom-arrow li{display: flex; gap: .25rem; --icon-size: 1.125rem; line-height: 1.625; color: var(--black)}
.custom-arrow li:not(:last-child){margin-bottom: .5rem;}
.custom-arrow span{
    display: grid;
    place-items: center;
    width: var(--icon-size, 1.125rem);
    height: var(--icon-size, 1.125rem);
    margin-top: .25rem
}




/* Sections */
section{
    padding-block: var(--section-padding);
}
.subtitle{
    font-family: var(--fancy-font);
    font-size: 1.5rem;
    color: var(--primary-color);
    font-weight: 400;
}
.section-heading{
    margin-bottom: 3.75rem;
}


/* Form Elements */

input{
    padding: var(--btn-padding-y) var(--btn-padding-x);
    border-radius: var(--border-radius-lg);
    border-width: 1px;
    border-color: var(--white);
    background: var(--white);
    color: var(--primary-color);
    outline-color: transparent;
    box-shadow: none;
}


/* Decorator */
/* .decorator{position: absolute;} */
.rect{
    width: 12.5rem;
    height:44rem; 
    --direction: to bottom;
    --rotate: -45deg;
    background-image: linear-gradient(var(--direction), var(--primary-color), transparent);
    rotate: var(--rotate);
    translate: 0 -40%;
    position: absolute;
}

.rect-right{
    --rotate: 45deg;
    right: 0
}


/* Swiper JS Customization */
.swiper-button {
    display: flex;
    gap: .625rem;
    margin-top: 3.75rem;
    width: max-content;
    padding: .625rem 1.25rem; 
    background: var(--white);
    box-shadow: 0 0 10px rgba(0,0,0,.124);
    border-radius: 50px;
    margin-bottom: 20px;
    margin-inline: auto;
}
.swiper-button :is(.swiper-button-prev, .swiper-button-next){
    position: static;
    margin-top: 0
}
.swiper-button .swiper-navigation-icon{
    display: none;
}

/*================== Header Section ============================*/
/*------------ Header top ------------------*/
.top-header_top{
    background-image: linear-gradient(-45deg, var(--black)50%, var(--primary-color) 50%);
    color: var(--white);
    padding-block: .625rem;
}
.top-header_top .social_links::before{
    content: '';
    position: absolute;
    left: calc((1.5rem / 2) * -1);
    top: 50%;
    height: 80%;
    width: 2px;
    translate: -50% -50%;
    background: var(--white)
}
/*------------ Header top end ------------------*/

/*------------ Navbar ---------------*/
.navbar{padding-block: 1.5rem}
.menubar{gap: 1.875rem}
.nav-link{
    color: var(--nav-link-color);
    font-size: var(--nav-link-font-size);
    font-weight: var(--nav-link-font-weight);
}
.nav-link:hover{
    color: var(--nav-link-hover-color);
}
.nav-link.active{
    color: var(--nav-link-active-color);
}
.menubar-toggler{
    display: none;
}
/*------------ Navbar End ---------------*/

@media (max-width: 991.98px){
    .header_top_right .social_links{
        display: none;
    }
    .top-header_top{
        padding-block: .25rem;
    }
    .header_top_left a:first-child{display: none;}
    .menubar-toggler{
        display: block;
    }
    .navbar{padding-block: 10px}
    .navbar .container{
        position: relative;
    }
    .navbar_right{
        position: absolute;
        top: 100%;
        right: 0;
        width: 80%;
        background: var(--white);
        padding: 1rem;
        border-radius: var(--border-radius);
        box-shadow: -4px 8px 10px rgba(0,0,0,.15);
        flex-direction: column;
        align-items: stretch;
        row-gap: 1.5rem;
        display: none;
    }
    .menubar{
        flex-direction: column;
        gap: 1rem;
        align-items: stretch;
    }
    .navbar_right .btn{
        align-self: flex-start;
    }
}

/* ==========================Top Banner=========================== */
.top-banner{
    background: url('./../images/map-image.webp') center/contain no-repeat;
}
.top-banner .container{
    --column: 2;
    grid-template-columns: repeat(var(--column), 1fr);
    gap: 2rem
}

.top-banner_right{
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 50px auto auto 50px;
    position:relative;
    gap: 1rem
}
.top-banner_right img:first-child{
    grid-column: 1/ span 1;
    grid-row: 1/ span 2;
}
.top-banner_right img:nth-child(2){
    grid-column: 1/ span 1;
    grid-row: 3/ span 2;
}
.top-banner_right img:nth-child(3){
    grid-column: 2/ span 1;
    grid-row: 2/ span 2;
}
.top-banner_right img:nth-child(4){
    position: absolute;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    width: 33%
}

.top-banner p{
    margin-block: 1.25rem 2.5rem;
}

@media (max-width: 991px){
    .top-banner .container{
        --column: 1;
    }
}


/* =============================Search section================= */
.search-section{padding-block: 0;}
.search-section form{
    padding: 1.875rem;
    background: var(--white);
    box-shadow: 0 0 30px rgba(0,0,0,.06);
    border-radius: 100px;
    gap: 1.875rem
}

.search-section form input{flex-grow: 1; border-color: var(--primary-light); font-weight: 500; color: var(--dark);}

.search-section form input::placeholder{
    font-weight: 500; color: var(--dark);
}

@media (max-width: 991.98px){
    .search-section form{
        flex-wrap: wrap;
        border-radius: var(--border-radius-lg);
        justify-content: end;
    }
    /* .search-section form input[type="submit"]{
        margin-left: auto;
        margin-right: 0
    } */
}



/* ==================About us Section =================== */

.about-us .container{
    --columns: 2;
    grid-template-columns: repeat(var(--columns), 1fr); 
    /* gap: 2rem */
}
.about-us .section-heading{margin-bottom: 1.25rem;}
.about-us ul{margin-block: 1rem 2.25rem;}
.about_left{
    margin-left: -2rem
}

.about-us .decorator{
    right: 0;
    bottom: calc(var(--section-padding) * 1);
    width: calc(28% + 2vw);
    z-index: -1;
}


/* ===================top Destination =========================== */

.destination-card{
    padding: .625rem;
    border-radius: 1rem;
    background: var(--white)
}
.destination-card img{display: block; margin-bottom: 1.25rem; width: 100%;}
.destination-card .card-title{margin-bottom: .625rem; font-weight: 500;}
.destination-card p{margin-bottom: 1.25rem;}
.destination-card .link-wrapper{margin-top: 1.25rem;}


/* ===================Stats ======================= */
.statistics{
    background: url('../images/map-image.webp') center/cover no-repeat
}
.stats-wrapper{
    gap: 30px;
    --columns: 4;
    grid-template-columns: repeat(var(--columns, 4), 1fr);
}
.stats-wrapper .stats{
    background-color: var(--white);
    filter: drop-shadow(0 0 30px rgba(0,0,0,.08));
    padding: 1.75rem;
    border-radius: 1rem;
}

.stats-wrapper .icon{
    --btn-size: 6.25rem;
    margin: 0 auto 1.25rem;
    --border-color: var(--primary-subtle);
    --border-width: 14px;
    position: relative;
    --btn-bg: transparent;
    padding: 10px;
    /* isolation: isolate; */
}
.stats-wrapper .icon::before{
    content: '';
    width: calc(var(--btn-size) - var(--border-width));
    height: calc(var(--btn-size) - var(--border-width));
    background: var(--primary-color);
    border-radius: 50%;
    display: block;
    position: absolute;
    z-index: -1;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
}

.stats-wrapper .h2{font-weight: 700;}



@media (max-width: 991.98px){
    .stats-wrapper{
        --columns: 2
    }
}
@media (max-width: 480px){
    .stats-wrapper{
        --columns: 1
    }
}


/* ============================== Best Places ========================== */

.best-places .container-max{
    margin-right: 0;
    padding-right: 0;
    /* margin-left: auto; */
}

.best-places .swiper-slide-active .place-card{
    border-radius: 1rem 0 0 1rem;
    overflow: hidden;
}
.best-places .place-card{
    position: relative;
}

.best-places .card-content{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,.4);
    padding: 1.875rem;
    display: flex;
    align-items: end;
}
.best-places img{display: block; width: 100%;}
.best-places a{
    color: #fff;
    font-weight: 500;
}

/* =============== Testimonials ===============*/

.main-wrapper{
    display: grid;
    grid-template-columns: 60% 40%;
    gap: 1.875rem;
    position: relative;
}
.testimonials-wrapper{
    display: flex;
    gap: 1.875rem;
    align-items: flex-end;
}
.testimonials-wrapper .testimonial-card{
    width: 25%;
    transition: .4s all;
}
.testimonials-wrapper .testimonial-card.active{
    flex-grow: 1;
}
.testimonials-wrapper .card-image img{
    width: 100%;
    border-radius: 1rem;
}
.testimonials-wrapper .card-content{
    position: absolute;
    right: 0;
    top: 0;
    grid-column: 2/span 1;
    background: #fff;
    display: flex;
    flex-direction: column;
    gap: 1.875rem;
    height: 100%;
    opacity: 0;
    transition: .4s all
}
.testimonial-card.active .card-content{
    opacity: 1;
}
.testimonials-wrapper .testimonial-link{
    margin-top: auto
}

/* ======================= Footer ============================= */

/* Newsletter */
.newsletter{padding-block: 0; background-image: linear-gradient(var(--white) 50%, var(--primary-subtle) 50%)}
.newsletter_content{
    padding: 2.5rem;
    border-radius: var(--border-radius);
}
.newsletter_content h2{font-weight: 600; max-width: 335px; letter-spacing: .1rem;}

.newsletter_content form{
    width: 55%;
    gap: 1.25rem;
}

input::placeholder{
    color: var(--primary-color);
}

.newsletter_content form input:not([type="submit"]){
    flex-grow: 1;
}


@media (max-width: 991.98px){
    .newsletter_content{
        flex-direction: column;
        text-align: center;
        row-gap: 2rem
    }
    .newsletter_content form{width: 100%}
}

@media (max-width: 575px){
    .newsletter_content{padding: 1.5rem}
    .newsletter_content form{flex-direction: column;  align-items: stretch;}
     .newsletter_content form .btn{align-self: center;}
}


/* -----------------Footer Content ------------------- */
.footer-content{
    padding-block: 3.75rem;
}
.footer-title{
    margin-bottom: 1.25rem;
    white-space: nowrap;
}

.footer-about p{
    max-width: 280px;
    margin-block: 1.25rem 1.875rem
}

.footer-link nav{
    row-gap: .75rem
}

.footer-contact li{
    max-width: 240px;
    margin-bottom: 1.25rem;
}
.footer-contact li:last-child{
    margin-bottom: 0;
}

.footer-social_posts{
    grid-template-columns: repeat(3, 1fr);
}
.footer-social_posts img{
    display: block;
}

.footer_bottom{
    padding: .75rem;
}

.footer_bottom p{font-weight: 600;}

@media (max-width: 991.98px){
    .footer-content_wrapper{
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    .footer-content_wrapper .d-flex{
        justify-content: center;
    }
    .footer-contact_details li{
        flex-direction: column;
        align-items: center;
        gap: .75rem
    }
}